body {
  font-family: Kaushan Script;
  background-image: url(/img/clouds.jpg);
  background-color: #c7b39b;
}

h1 {
  color: #f5f5f9;
  font-family: Kaushan Script;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0 30px;

  color: #f5f5f9;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(
    to top,
    rgba(242, 255, 4, 0.949),
    rgba(5, 5, 240, 0.973)
  );
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #0a0fa0;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #0a0fa0;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.units {
  position: relative;
  top: -17px;
  color: #101c62;
  font-weight: 600;
  font-size: 24px;
}
.units > a {
  text-decoration: none;
  color: #101c6267;
  font-weight: 600;
  font-size: 24px;
}
.units > a:hover {
  color: #f5f5f9;
}
button {
  border-radius: 2px;
  border-color: #242f9b;
  border-width: 1px;
  padding: 2.3px 1px;
  background-color: whitesmoke;
}

.search {
  background-color: whitesmoke;
  border-radius: 2px;
  border-color: rgb(81, 122, 152);
  border-width: 1px;
  padding: 6px 10px;
  color: rgb(4, 4, 121);
}

.form-control {
  background-color: whitesmoke;
  border-radius: 2px;
  border-color: rgb(81, 122, 152);
  border-width: 1px;
  padding: 6px 10px;
  color: rgb(4, 4, 121);
}
